# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
db.sqlite3

# Static and media files
/staticfiles/
/media/

# VSCode and IDE configs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Env files
.env

# Python environment
venv/
ENV/
env/
